# Data Science Tools and Ecosystem

## Author: 
Santiago Guangatal

**In this notebook, Data Science Tools and Ecosystem are summarized.**

**Objectives**

1. List popular languages for Data Science.
2. List commonly used libraries used by Data Scientists.
3. Create a markdown cell with a table

Some of the popular languages that Data Scientists use are:

1. Python
2. R
4. Java

Some of the commonly used libraries used by Data Scientists include:

1. Numpy
2. Pandas
3. Matplotlib

| Data Science Tools       |
|--------------------------|
| Jupyter Notebook         |
| RStudio                  |
| Apache Zeppelin          |

### Below are a few examples of evaluating arithmetic expressions in Python

- Addition: `3 + 5` results in `8`
- Subtraction: `10 - 4` results in `6`
- Multiplication: `7 * 6` results in `42`
- Division: `8 / 2` results in `4.0`
- Exponentiation: `2 ** 3` results in `8`
- Modulus: `10 % 3` results in `1`

In [3]:
# This will convert 200 minutes to hours by diving by 60
 
200 / 60

3.3333333333333335